@font-face {
    src: url("../../../fonts/Alatsi-Regular.ttf");
}

@font-face {
    src: url("../../../fonts/AlegreyaSans-Light.ttf");
}

.alegreya-italic {
    -fx-font-family: Alegreya;
    -fx-font-style: normal;
}

.alatsi {
    -fx-font-family: Alatsi;
    -fx-font-style: normal;
}

.editable-text {
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-padding: 0px;
}

.container {
    -fx-background-color: #e8e8e8;
}

.product {
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: white;
}

.product-number {
    -fx-background-color: green;
    -fx-background-radius: 0 0 10 10;
}

.product-number>* {
    -fx-font-size: 14;
    -fx-fill: white;
}

.image-container {
    -fx-border-color: green;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-padding: 2;
    -fx-border-radius: 10 10 10 10;
    -fx-background-color: #e8e8e8;
    -fx-background-radius: 10;
}

.author {
    -fx-font-size: 16;
    -fx-text-fill: #787878;
}

.money {
    -fx-font-size: 22;
    -fx-fill: green;
    -fx-text-fill: green;
}

.book-name {
    -fx-font-size: 22;
    -fx-text-fill: black;
}

.text-area {
    -fx-background-insets: 0;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, transparent;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, transparent;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 0px;
    -fx-highlight-fill: #7ecfff;
}

.view-more {
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-background-color: black, white, green;
    -fx-background-insets: 0, 1, 4;
    -fx-background-radius: 30;
}

.borrow-book {
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-background-color: white, green;
    -fx-background-radius: 0, 4;
    -fx-background-radius: 30;
}

.year {
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-fill: black
}

.toggle-button:selected,
.toggle-button:selected:focused {
    -fx-background-color: red;
}

.scroll-pane {
    -fx-background: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-padding: 0px;
}

.toggle-button:disabled {
    -fx-opacity: 1.0;
}