<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Use HikariCP -->
    <property name="connection.provider_class">
      org.hibernate.hikaricp.internal.HikariCPConnectionProvider
    </property>

    <!-- Hikari datasource configuration -->
    <property name="hikari.dataSourceClassName">
      org.sqlite.SQLiteDataSource
    </property>
    <property name="hikari.dataSource.url">
      jdbc:sqlite:database/library.db
    </property>

    <!-- HikariCP pooling configuration -->
    <property name="hikari.minimumIdle">1</property>
    <property name="hikari.maximumPoolSize">2</property>
    <property name="hikari.idleTimeout">10000</property>

    <!-- Hibernate dialect for SQLite -->
    <property name="dialect">
      org.hibernate.community.dialect.SQLiteDialect
    </property>

    <!--    Auto commit -->
    <property name="hikari.autoCommit">false</property>

    <!-- Show SQL -->
    <property name="show_sql">true</property>


    <!-- Drop schema, create new-->
    <property name="hbm2ddl.auto">update</property>

    <!-- Get current session from thread context -->
    <property name="hibernate.current_session_context_class">
      org.hibernate.context.internal.ThreadLocalSessionContext
    </property>

    <!-- Disable L2 caching -->
    <property name="cache.use_second_level_cache">false</property>


    <!-- Readable cache format 
    <property name="hibernate.cache.use_structured_entries">true</property>
-->

    <!-- Create schema generation file 
    <property name="javax.persistence.schema-generation.scripts.action">create</property>
    <property name="javax.persistence.schema-generation.scripts.create-target">data.sql</property>
    <property name="javax.persistence.schema-generation.scripts.create-source">metadata</property>   
-->

  </session-factory>
</hibernate-configuration>